<config>
  <device id="device01" dev="/dev/ttyUSB0" baud="115200" type="mf1rw"/>
  <key sector="0" type="a" bytes="ffffffffffff"/>
  <item type="id"/>
  <item type="uid"/>
  <item type="bytes" block="1" offset="0" size="16"/>
  <item type="string" block="1"/>
  <item type="value" block="2"/>
  <exec cmd="echo"/>
</config>
